/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.menu {
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
}

.menu .logo {
    width: 100px;
}


.menu-items {
    display: none;
}

.right-buttons {
    background: transparent;
    border: none;
}

header {
    background-color: #540B51;
}

h1 {
    color: white;
    text-align: center;
    margin: 0%;
}

.header-paragraph {
    color: white;
    text-align: center;
}

.header-paragraph span {
    color: #ECB12F;
}

.email-button {
    text-transform: uppercase;
    border: 1px solid;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: white;
    color: #540B51;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    display: block;
    /* IMPORTANTE */
    margin: 30px auto;
    padding: 23px 30px;
}

.google-button {
    width: 400px;
    margin: 30px auto;
    display: block;
}

.google-button img {
    width: 20px;
}

.first-section {
    background-color: #F3EAE2;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-section img {
    height: 40px;
    width: auto;
}

.second-section {
    text-align: center;
}

.second-section h3 {
    color: #540B51;
}

.percentages {
    color: #540B51;
    font-size: 1.5em;
}

.remove-dots li {
    list-style-type: none;
}

.third-section {
    background-color: #540B51;

}

.third-section h3 {
    color: white;
    text-align: center;

}

.last-buttonone {
    text-transform: uppercase;
    border: 1px solid;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: white;
    color: #540B51;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    display: block;
    /* IMPORTANTE */
    margin: 30px auto;
    padding: 23px 30px;
}

.last-buttontwo {
    text-transform: uppercase;
    border: 1px solid;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #540B51;
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    display: block;
    /* IMPORTANTE */
    margin: 30px auto;
    padding: 23px 30px;
}